#CONTROLLER
services:
  crud_controller.users:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:User', /users, '@users.list_view', '@form.type.users', null, null, '@base.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.files:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:File', /files, '@files.list_view', '@form.type.files', null, null, '@base.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.tags:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:Tag', /tags, '@tags.list_view', '@form.type.tags', null, null, '@base.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.skills:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:Skill', /skills, '@skills.list_view', '@form.type.skills', null, null, '@base.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.jobs:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:Job', /jobs, '@jobs.list_view', '@form.type.jobs', null, null, '@base.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.projects:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:Project', /projects, '@projects.list_view', '@form.type.projects', null, null, '@base.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.social_medias:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:SocialMedia', /social_medias, '@social_medias.list_view', '@form.type.social_medias', null, null, '@base.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.icons:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:Icon', /icons, '@icons.list_view', null, null, null, '@icon.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.categories:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:Category', /categories, '@categories.list_view', null, null, null, '@icon.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  crud_controller.articles:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:Article', /articles, '@articles.list_view', null, null, null, '@icon.actions_provider']
    tags:
        - { name: vardius_crud.controller }